/*!
 * Marp theme
 * @theme webindex
 * @author Christopher Hahne
 *
 * @auto-scaling true
 * @size 4:3 960px 720px
 * @size 16:9 1280px 720px
 */
:root {
  --background: #148ec8;
  --current-line: #0e5e83;
  --foreground: #ffffff;
  --comment: #e8f4fa;
  --cyan: #8ac7e4;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #DBB2D1;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #FADA5E;
  --white: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0 0 0;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1.05em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

p, blockquote {
  margin: 1em 0 0 0;
}

ul, ol {
  display: inline-block;
  text-align: left;
}
ul > li, ol > li {
  margin: 0.3em 0 0 0;
  color: var(--white);
}
ul > li > p, ol > li > p {
  margin: 0.6em 0 0 0;
}

hr {
  height: 0;
  padding-top: 0.25em;
}

code {
  display: inline-block;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.95em;
  letter-spacing: 0;
  margin: -0.1em 0.15em;
  padding: 0.15em 0.3em;
  vertical-align: baseline;
  background: var(--current-line);
  color: var(--green);
}

pre {
  display: block;
  margin: 1.5em 0;
  overflow: auto;
  line-height: 1.5;
  background: var(--current-line);
  padding: 1.25em 1.5em;
  border-radius: 10px;
  font-size: 1.1em;
}
pre code {
  all: unset;
  display: block;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.5em;
  color: inherit;
  white-space: pre-wrap;
  word-break: break-word;
}
pre code svg[data-marp-fitting=svg] {
  max-height: calc(580px - 1em);
}

mark {
  background: transparent;
  color: var(--yellow);
}

.hljs-selector-tag, .hljs-title, .hljs-section, .hljs-doctag, .hljs-type, .hljs-name, .hljs-strong, .hljs-literal, .hljs-number, .hljs-keyword {
  font-weight: bold;
}

.hljs-emphasis, .hljs-params {
  font-style: italic;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: var(--background);
  text-align: left;
}
.hljs, .hljs-subst, .hljs-typing, .hljs-variable, .hljs-template-variable {
  color: var(--foreground);
}
.hljs-comment, .hljs-quote, .hljs-deletion {
  color: var(--comment);
}
.hljs-meta .hljs-doctag, .hljs-built_in, .hljs-selector-tag, .hljs-section, .hljs-link, .hljs-class {
  color: var(--cyan);
}
.hljs-title {
  color: var(--green);
}
.hljs-params {
  color: var(--orange);
}
.hljs-keyword {
  color: var(--pink);
}
.hljs-literal, .hljs-number {
  color: var(--purple);
}
.hljs-regexp {
  color: var(--red);
}
.hljs-string, .hljs-name, .hljs-type, .hljs-attr, .hljs-symbol, .hljs-bullet, .hljs-addition, .hljs-template-tag {
  color: var(--yellow);
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 1280px;
  height: 720px;
  padding: 70px;
  font-family: sans-serif;
  font-size: 25px;
  letter-spacing: 1.25px;
  text-align: left;
  background-color: var(--background);
  color: var(--foreground);
}
section > *:first-child, section > header:first-child + * {
  margin-top: 0;
}
section > *:last-child, section[data-footer] > :nth-last-child(2) {
  margin-bottom: 0;
}
section a {
  color: var(--yellow);
  text-decoration: none;
}
section a:hover, section a:active, section a:focus {
  color: var(--pink);
}
section::after {
  position: absolute;
  right: 30px;
  bottom: 21px;
  padding: 0;
  font-size: 24px;
  color: var(--orange);
}
section.invert {
  background-color: var(--foreground);
  color: var(--background);
}
section.invert::after {
  color: #999;
}
section.invert img {
  background-color: transparent;
}

header, footer {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  height: 70px;
  padding: 10px 25px;
  font-size: 66%;
  line-height: 50px;
  overflow: hidden;
  color: var(--comment);
}

header {
  top: 0;
}
header a {
  color: var(--foreground);
}

footer {
  bottom: 0;
  height: 5%;
  bottom: 2.5%;
  display: flex;
  align-items: center;
  background: linear-gradient(to left, var(--background) 10%, var(--foreground) 80%);
  color: var(--background);
}
footer img {
  display: inline-block;
  vertical-align: middle;
  float: none;
  width: 30%;
  padding: 0 0 0 35%;
}
footer a, footer a:visited {
  color: var(--background);
}

blockquote {
  margin: 0;
  padding: 0 1em;
  border-left: 0.2em solid #999;
  color: var(--foreground);
  display: inline-block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px auto;
  border: 2px solid var(--foreground);
}
table th, table td {
  padding: 6px;
  border: 2px solid var(--foreground);
}
table thead th {
  background: var(--current-line);
  color: var(--comment);
}
table tbody > tr:nth-child(even) th, table tbody > tr:nth-child(even) td {
  background: var(--current-line);
}

img[alt~=center] {
  display: block;
  margin: 0 auto;
}

img[alt~=right] {
  display: block;
  float: right;
  margin-right: 0;
}

img[alt~=middle] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/*# sourceMappingURL=webindex.css.map */
